In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv(r'/home/imran/Desktop/Nayeem/Youth-Tobacco-Survey/CODE/South_East_Asia.csv')

In [3]:
df['current_tobacco'] = np.where(
    ((df['q1'] == 1) & (df['q2'] == 2) & (df['q3'] == 2)),'no','yes')

df.drop(columns=['q1', 'q2','q3'], inplace=True)

df['Susceptibility'] = np.where(
    ((df['q7'] == 1) & (df['q8'] == 1) ),'non-susceptible','susceptible')

df.drop(columns=['q7', 'q8'], inplace=True)

df['tobacco_naive'] = np.where(
    ((df['q4'] == 2) & (df['q5'] == 2) & (df['q6'] == 2)),'no','yes')

df.drop(columns=['q4', 'q5','q6'], inplace=True)

In [4]:
mapping = {
    1: '13 or below', 2: '13 or below', 3: '13 or below',
    4: '14 years',
    5: '15 or above', 6: '15 or above', 7: '15 or above'
}

df['q9'] = df['q9'].map(mapping)

mapping = {
    1: 'Male',
    0: 'Female'
}

df['q10'] = df['q10'].map(mapping)

mapping = {
    1: 'No',
    2: 'Yes', 3: 'Yes', 4: 'Yes', 5: 'Yes'
}

df['q11'] = df['q11'].map(mapping)

mapping = {
    1: 'No',
    2: 'Yes', 3: 'Yes', 4: 'Yes', 5: 'Yes'
}

df['q12'] = df['q12'].map(mapping)

mapping = {
    1: 'No',
    2: 'Yes', 3: 'Yes', 4: 'Yes', 5: 'Yes'
}

df['q13'] = df['q13'].map(mapping)

mapping = {
    1: 'Yes',
    2: 'No'
}

df['q14'] = df['q14'].map(mapping)

mapping = {
    1: 'No',
    2: 'Yes', 3: 'Yes', 4: 'Yes'
}

df['q15'] = df['q15'].map(mapping)

mapping = {
    1: 'Yes',
    2: 'No'
}

df['q16'] = df['q16'].map(mapping)

mapping = {
    1: 'Yes',
    2: 'No'
}

df['q17'] = df['q17'].map(mapping)

mapping = {
    1: 'Yes',
    2: 'No'
}

df['q18'] = df['q18'].map(mapping)

mapping = {
    1: 'No',
    2: 'Yes',
    3 : 'No'
}

df['q19'] = df['q19'].map(mapping)

mapping = {
    1: 'Yes',
    2: 'Yes',
    3 : 'No'
}

df['q20'] = df['q20'].map(mapping)

mapping = {
    1: 'Yes',
    2: 'No',
    3 : 'No'
}

df['q21'] = df['q21'].map(mapping)

mapping = {
    1: 'No',
    2: 'Yes',
    3 : 'No'
}

df['q22'] = df['q22'].map(mapping)

mapping = {
    1: 'No',
    2: 'Yes',
    3 : 'No'
}

df['q23'] = df['q23'].map(mapping)

df['q27'] = np.where(
    ((df['q24'] == 3) & (df['q25'] == 2) & (df['q26'] == 2)),'no','yes')

df.drop(columns=['q24', 'q25','q26'], inplace=True)

In [5]:
df

,q9,q10,q11,q12,q13,q14,q15,q16,q17,q18,...,q22,q23,Country,Year,Region,Income Group,current_tobacco,Susceptibility,tobacco_naive,q27
0,13 or below,NaN,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Bangladesh,2013,South East Asia,Lower middle income,no,non-susceptible,no,yes
1,13 or below,NaN,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Bangladesh,2013,South East Asia,Lower middle income,yes,susceptible,yes,yes
2,14 years,NaN,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Bangladesh,2013,South East Asia,Lower middle income,yes,non-susceptible,yes,yes
3,14 years,NaN,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Bangladesh,2013,South East Asia,Lower middle income,yes,non-susceptible,yes,yes
4,14 years,NaN,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Bangladesh,2013,South East Asia,Lower middle income,yes,non-susceptible,yes,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35456,15 or above,Male,Yes,Yes,Yes,No,Yes,No,Yes,No,...,No,No,Timor-Leste,2019,South East Asia,Lower middle income,yes,susceptible,yes,no
35457,15 or above,Male,No,Yes,Yes,No,No,No,No,Yes,...,No,No,Timor-Leste,2019,South East Asia,Lower middle income,yes,non-susceptible,yes,yes
35458,15 or above,Male,Yes,No,No,No,Yes,No,Yes,Yes,...,Yes,Yes,Timor-Leste,2019,South East Asia,Lower middle income,no,susceptible,yes,no
35459,15 or above,Male,Yes,Yes,Yes,No,Yes,No,No,Yes,...,Yes,Yes,Timor-Leste,2019,South East Asia,Lower middle income,yes,non-susceptible,yes,no
35460,15 or above,Male,No,No,No,No,No,No,No,No,...,Yes,No,Timor-Leste,2019,South East Asia,Lower middle income,yes,susceptible,yes,no

In [6]:
df.drop(columns=['Region','current_tobacco','tobacco_naive'], inplace=True)

In [9]:
df

,q9,q10,q11,q12,q13,q14,q15,q16,q17,q18,q19,q20,q21,q22,q23,Country,Year,Income Group,Susceptibility,q27
0,13 or below,NaN,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Bangladesh,2013,Lower middle income,non-susceptible,yes
1,13 or below,NaN,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Bangladesh,2013,Lower middle income,susceptible,yes
2,14 years,NaN,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Bangladesh,2013,Lower middle income,non-susceptible,yes
3,14 years,NaN,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Bangladesh,2013,Lower middle income,non-susceptible,yes
4,14 years,NaN,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Bangladesh,2013,Lower middle income,non-susceptible,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35456,15 or above,Male,Yes,Yes,Yes,No,Yes,No,Yes,No,No,No,No,No,No,Timor-Leste,2019,Lower middle income,susceptible,no
35457,15 or above,Male,No,Yes,Yes,No,No,No,No,Yes,No,Yes,No,No,No,Timor-Leste,2019,Lower middle income,non-susceptible,yes
35458,15 or above,Male,Yes,No,No,No,Yes,No,Yes,Yes,No,Yes,Yes,Yes,Yes,Timor-Leste,2019,Lower middle income,susceptible,no
35459,15 or above,Male,Yes,Yes,Yes,No,Yes,No,No,Yes,Yes,Yes,Yes,Yes,Yes,Timor-Leste,2019,Lower middle income,non-susceptible,no
35460,15 or above,Male,No,No,No,No,No,No,No,No,Yes,No,No,Yes,No,Timor-Leste,2019,Lower middle income,susceptible,no

In [8]:
df.to_csv('SE_Asia.csv', index=False)

In [11]:
df.shape

(35461, 23)

In [12]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 35461 entries, 0 to 35460
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   q9               34706 non-null  str
 1   q10              15204 non-null  str
 2   q11              35193 non-null  str
 3   q12              35242 non-null  str
 4   q13              35106 non-null  str
 5   q14              35004 non-null  str
 6   q15              35158 non-null  str
 7   q16              25147 non-null  str
 8   q17              35070 non-null  str
 9   q18              35000 non-null  str
 10  q19              35025 non-null  str
 11  q20              35030 non-null  str
 12  q21              35103 non-null  str
 13  q22              35006 non-null  str
 14  q23              35008 non-null  str
 15  Country          35461 non-null  str
 16  Year             35461 non-null  int64
 17  Region           35461 non-null  str
 18  Income Group     35461 non-null  str
 19  current_tobacco  35461 non-null  str
 20  Susceptibility   35461 non-null  str
 21  tobacco_naive    35461 non-null  str
 22  q27              35461 non-null  str
dtypes: int64(1), str(22)
memory usage: 6.2 MB

In [ ]:
plt.figure(figsize= (15,15))
for i in range(len(df.columns)):
    plt.subplot(6,4,i+1)
    sns.countplot(df[df.columns[i]])
    plt.tight_layout()