In [2]:
df1 = pd.read_csv('Bangladesh_13.csv')
df2 = pd.read_csv('Bhutan_13.csv')
df3 = pd.read_csv('Bhutan_19.csv')
df4 = pd.read_csv('Maldives_19.csv')
df5 = pd.read_csv('Myanmar_16.csv')
df6 = pd.read_csv('Sri-lanka_15.csv')
df7 = pd.read_csv('Thailand_15.csv')
df8 = pd.read_csv('Thailand_22.csv')
df9 = pd.read_csv('Timor_13.csv')
df10 = pd.read_csv('Timor_19.csv')

In [1]:
import pandas as pd

In [13]:
df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10], ignore_index=True)

In [14]:
df.shape

(35461, 30)

In [17]:
df.sample(10)

,q1,q2,q3,q4,q5,q6,q7,q8,q9,q10,...,q21,q22,q23,q24,q25,q26,Country,Year,Region,Income Group
20909,1.0,NaN,2.0,2.0,NaN,2.0,1.0,1.0,3.0,1.0,...,2.0,2.0,3.0,3.0,2.0,2.0,Thailand,2015,South East Asia,Upper middle income
18982,1.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,4.0,...,3.0,2.0,2.0,2.0,1.0,2.0,Sri Lanka,2015,South East Asia,Lower middle income
16849,1.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,3.0,...,1.0,2.0,2.0,2.0,2.0,2.0,Mayanmar,2016,South East Asia,Lower middle income
24453,1.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,4.0,2.0,...,1.0,2.0,2.0,2.0,2.0,2.0,Thailand,2022,South East Asia,Upper middle income
18059,1.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,6.0,...,1.0,1.0,1.0,3.0,2.0,2.0,Mayanmar,2016,South East Asia,Lower middle income
5243,1.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,5.0,2.0,...,1.0,3.0,NaN,3.0,2.0,2.0,Bhutan,2013,South East Asia,Lower middle income
10419,1.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,5.0,NaN,...,3.0,3.0,3.0,3.0,2.0,2.0,Maldives,2019,South East Asia,Upper middle income
800,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,4.0,1.0,...,2.0,2.0,3.0,3.0,1.0,1.0,Bangladesh,2013,South East Asia,Lower middle income
34570,1.0,NaN,NaN,2.0,NaN,NaN,1.0,1.0,4.0,2.0,...,1.0,1.0,2.0,3.0,2.0,2.0,Timor-Leste,2019,South East Asia,Lower middle income
32370,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,6.0,1.0,...,1.0,2.0,3.0,3.0,2.0,2.0,Timor-Leste,2019,South East Asia,Lower middle income

In [16]:
df.to_csv('South_East_Asia.csv', index=False)