In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [5]:
# Bangladesh
df = pd.read_csv(r'/home/imran/Desktop/Nayeem/Youth-Tobacco-Survey/CSV Data/South east asia/BANGLADESH_13.csv')
# Rename columns
rename_dict = {
    "CR7": "q1", "CR10": "q2", "CR14": "q3", "CR5": "q4", "CR9": "q5",
    "CR13": "q6", "CR39": "q7", "CR40": "q8", "CR1": "q9", "CR2": "q10",
    "CR19": "q11", "CR20": "q12", "CR21": "q13", "CR22": "q14", "CR23": "q15",
    "CR24": "q16", "CR25": "q17", "CR30": "q18", "CR31": "q19", "CR32": "q20",
    "CR33": "q21", "CR34": "q22", "CR35": "q23", "CR36": "q24", "CR37": "q25",
    "CR38": "q26"
}

df = df[list(rename_dict.keys())].rename(columns=rename_dict).copy()

In [6]:
df['Country'] = 'Bangladesh'
df['Year'] = 2013
df['Region'] = 'South East Asia'
df['Income Group'] = 'Lower middle income'

In [7]:
df.to_csv('Bangladesh_13.csv', index=False)

In [8]:
# Bhutan_13
df = pd.read_csv(r'/home/imran/Desktop/Nayeem/Youth-Tobacco-Survey/CSV Data/South east asia/BHUTAN_13.csv')
# Rename columns
rename_dict = {
    "CR7": "q1",
    "CR10": "q2",
    "CR14": "q3",
    "CR5": "q4",
    "CR9": "q5",
    "CR13": "q6",
    "CR39": "q7",
    "CR40": "q8",
    "CR1": "q9",
    "CR2": "q10",
    "CR19": "q11",
    "CR20": "q12",
    "CR21": "q13",
    "CR22": "q14",
    "CR23": "q15",
    "CR24": "q16",
    "CR25": "q17",
    "CR30": "q18",
    "CR31": "q19",
    "CR32": "q20",
    "CR33": "q21",
    "CR34": "q22",
    "CR35": "q23",
    "CR36": "q24",
    "CR37": "q25",
    "CR38": "q26"
}

df = df[list(rename_dict.keys())].rename(columns=rename_dict).copy()

In [9]:
df['Country'] = 'Bhutan'
df['Year'] = 2013
df['Region'] = 'South East Asia'
df['Income Group'] = 'Lower middle income'

In [10]:
df.to_csv('Bhutan_13.csv', index=False)

In [11]:
# Bhutan_19
df = pd.read_csv(r'/home/imran/Desktop/Nayeem/Youth-Tobacco-Survey/CSV Data/South east asia/BHUTAN_DATA_19.csv')
# Rename columns
rename_dict = {
    "CR7": "q1",
    "CR10": "q2",
    "CR14": "q3",
    "CR5": "q4",
    "CR9": "q5",
    "CR13": "q6",
    "CR39": "q7",
    "CR40": "q8",
    "BTR1": "q9",
    "CR2": "q10",
    "CR19": "q11",
    "CR20": "q12",
    "CR21": "q13",
    "CR22": "q14",
    "CR23": "q15",
    "CR24": "q16",
    "CR25": "q17",
    "CR30": "q18",
    "CR31": "q19",
    "CR32": "q20",
    "CR33": "q21",
    "CR34": "q22",
    "CR35": "q23",
    "CR36": "q24",
    "CR37": "q25",
    "CR38": "q26"
}

df = df[list(rename_dict.keys())].rename(columns=rename_dict).copy()

In [12]:
df['Country'] = 'Bhutan'
df['Year'] = 2019
df['Region'] = 'South East Asia'
df['Income Group'] = 'Lower middle income'

In [13]:
df.to_csv('Bhutan_19.csv', index=False)

In [14]:
# Maldives_19
df = pd.read_csv(r'/home/imran/Desktop/Nayeem/Youth-Tobacco-Survey/CSV Data/South east asia/MALDIVES_DATA_19.csv')
rename_dict = {
    "CR7": "q1",
    "CR10": "q2",
    "CR14": "q3",
    "CR5": "q4",
    "CR9": "q5",
    "CR13": "q6",
    "CR39": "q7",
    "CR40": "q8",
    "CR1": "q9",
    "CR2": "q10",
    "CR19": "q11",
    "CR20": "q12",
    "CR21": "q13",
    "CR22": "q14",
    "CR23": "q15",
    "CR24": "q16",
    "CR25": "q17",
    "CR30": "q18",
    "CR31": "q19",
    "CR32": "q20",
    "CR33": "q21",
    "CR34": "q22",
    "CR35": "q23",
    "CR36": "q24",
    "CR37": "q25",
    "CR38": "q26"
}

df = df[list(rename_dict.keys())].rename(columns=rename_dict).copy()

In [15]:
df['Country'] = 'Maldives'
df['Year'] = 2019
df['Region'] = 'South East Asia'
df['Income Group'] = 'Upper middle income'

In [16]:
df.to_csv('Maldives_19.csv', index=False)

In [17]:
# Myanmar-16
df = pd.read_csv(r'/home/imran/Desktop/Nayeem/Youth-Tobacco-Survey/CSV Data/South east asia/MYANMAR_16.csv')
# Rename columns
rename_dict = {
    "CR7": "q1",
    "CR10": "q2",
    "CR14": "q3",
    "CR5": "q4",
    "CR9": "q5",
    "CR13": "q6",
    "CR39": "q7",
    "CR40": "q8",
    "CR2": "q10",
    "CR1": "q9",
    "CR19": "q11",
    "CR20": "q12",
    "CR21": "q13",
    "CR22": "q14",
    "CR23": "q15",
    "CR24": "q16",
    "CR25": "q17",
    "CR30": "q18",
    "CR31": "q19",
    "CR32": "q20",
    "CR33": "q21",
    "CR34": "q22",
    "CR35": "q23",
    "CR36": "q24",
    "CR37": "q25",
    "CR38": "q26"
}

df = df[list(rename_dict.keys())].rename(columns=rename_dict).copy()

In [18]:
df['Country'] = 'Myanmar'
df['Year'] = 2016
df['Region'] = 'South East Asia'
df['Income Group'] = 'Lower middle income'

In [19]:
df.to_csv('Myanmar_16.csv', index=False)

In [20]:
# Sri Lanka-15
df = pd.read_csv(r'/home/imran/Desktop/Nayeem/Youth-Tobacco-Survey/CSV Data/South east asia/SRILANKA_15.csv')
# Rename columns
rename_dict = {
    "CR7": "q1",
    "CR10": "q2",
    "CR14": "q3",
    "CR5": "q4",
    "CR9": "q5",
    "CR13": "q6",
    "CR39": "q7",
    "CR40": "q8",
    "CR2": "q9",
    "CR1": "q10",
    "CR19": "q11",
    "CR20": "q12",
    "CR21": "q13",
    "CR22": "q14",
    "CR23": "q15",
    "CR24": "q16",
    "CR25": "q17",
    "CR30": "q18",
    "CR31": "q19",
    "CR32": "q20",
    "CR33": "q21",
    "CR34": "q22",
    "CR35": "q23",
    "CR36": "q24",
    "CR37": "q25",
    "CR38": "q26"
}

df = df[list(rename_dict.keys())].rename(columns=rename_dict).copy()

In [21]:
df['Country'] = 'Sri Lanka'
df['Year'] = 2015
df['Region'] = 'South East Asia'
df['Income Group'] = 'Lower middle income'

In [22]:
df.to_csv('Sri-lanka_15.csv', index=False)

In [23]:
# Thiland-15
df = pd.read_csv(r'/home/imran/Desktop/Nayeem/Youth-Tobacco-Survey/CSV Data/South east asia/THAILAND_15.csv')
# Rename columns
rename_dict = {
    "CR7": "q1",
    "CR10": "q2",
    "CR14": "q3",
    "CR5": "q4",
    "CR9": "q5",
    "CR13": "q6",
    "CR39": "q7",
    "CR40": "q8",
    "CR1": "q9",
    "CR2": "q10",
    "CR19": "q11",
    "CR20": "q12",
    "CR21": "q13",
    "CR22": "q14",
    "CR23": "q15",
    "CR25": "q17",
    "CR30": "q18",
    "CR31": "q19",
    "CR32": "q20",
    "CR33": "q21",
    "CR34": "q22",
    "CR35": "q23",
    "CR36": "q24",
    "CR37": "q25",
    "CR38": "q26"
}

df = df[list(rename_dict.keys())].rename(columns=rename_dict).copy()

In [24]:
import numpy as np

# create missing column q16
df["q16"] = np.nan

In [25]:
df['Country'] = 'Thailand'
df['Year'] = 2015
df['Region'] = 'South East Asia'
df['Income Group'] = 'Upper middle income'

In [26]:
df.to_csv('Thailand_15.csv', index=False)

In [27]:
# Thiland-22
df = pd.read_csv(r'/home/imran/Desktop/Nayeem/Youth-Tobacco-Survey/CSV Data/South east asia/THAILAND_DATA_22.csv')
# Rename columns
rename_dict = {
    "CR7": "q1",
    "CR10": "q2",
    "CR14": "q3",
    "CR5": "q4",
    "CR9": "q5",
    "CR13": "q6",
    "CR39": "q7",
    "CR40": "q8",
    "CR1": "q9",
    "CR2": "q10",
    "CR19": "q11",
    "CR20": "q12",
    "CR21": "q13",
    "CR22": "q14",
    "CR23": "q15",
    "CR25": "q17",
    "CR30": "q18",
    "CR31": "q19",
    "CR32": "q20",
    "CR33": "q21",
    "CR34": "q22",
    "CR35": "q23",
    "CR36": "q24",
    "CR37": "q25",
    "CR38": "q26"
}

df = df[list(rename_dict.keys())].rename(columns=rename_dict).copy()

In [28]:
# create missing column q16
df["q16"] = np.nan

In [29]:
df['Country'] = 'Thailand'
df['Year'] = 2022
df['Region'] = 'South East Asia'
df['Income Group'] = 'Upper middle income'

In [30]:
df.to_csv('Thailand_22.csv', index=False)

In [31]:
# Timor-13
df = pd.read_csv(r'/home/imran/Desktop/Nayeem/Youth-Tobacco-Survey/CSV Data/South east asia/TLS2013.csv')
# Rename columns
rename_dict = {
    "CR7": "q1",
    "CR10": "q2",
    "CR14": "q3",
    "CR5": "q4",
    "CR9": "q5",
    "CR13": "q6",
    "CR39": "q7",
    "CR40": "q8",
    "CR1": "q9",
    "CR2": "q10",
    "CR19": "q11",
    "CR20": "q12",
    "CR21": "q13",
    "CR22": "q14",
    "CR23": "q15",
    "CR24": "q16",
    "CR25": "q17",
    "CR30": "q18",
    "CR31": "q19",
    "CR32": "q20",
    "CR33": "q21",
    "CR34": "q22",
    "CR35": "q23",
    "CR36": "q24",
    "CR37": "q25",
    "CR38": "q26"
}

df = df[list(rename_dict.keys())].rename(columns=rename_dict).copy()

In [32]:
df['Country'] = 'Timor-Leste'
df['Year'] = 2013
df['Region'] = 'South East Asia'
df['Income Group'] = 'Lower middle income'

In [33]:
df.to_csv('Timor_13.csv', index=False)

In [34]:
# Timor-19
df = pd.read_csv(r'/home/imran/Desktop/Nayeem/Youth-Tobacco-Survey/CSV Data/South east asia/EASTTIMOR_DATA_19.csv')
# Rename columns
rename_dict = {
    "CR7": "q1",
    "CR10": "q2",
    "CR14": "q3",
    "CR5": "q4",
    "CR9": "q5",
    "CR13": "q6",
    "CR39": "q7",
    "CR40": "q8",
    "CR1": "q9",
    "CR2": "q10",
    "CR19": "q11",
    "CR20": "q12",
    "CR21": "q13",
    "CR22": "q14",
    "CR23": "q15",
    "CR24": "q16",
    "CR25": "q17",
    "CR30": "q18",
    "CR31": "q19",
    "CR32": "q20",
    "CR33": "q21",
    "CR34": "q22",
    "CR35": "q23",
    "CR36": "q24",
    "CR37": "q25",
    "CR38": "q26"
}

df = df[list(rename_dict.keys())].rename(columns=rename_dict).copy()

In [35]:
df['Country'] = 'Timor-Leste'
df['Year'] = 2019
df['Region'] = 'South East Asia'
df['Income Group'] = 'Lower middle income'

In [36]:
df.to_csv('Timor_19.csv', index=False)