In [2]:
df1 = pd.read_csv('Bangladesh_13.csv')
df2 = pd.read_csv('Bhutan_13.csv')
df3 = pd.read_csv('Bhutan_19.csv')
df4 = pd.read_csv('Maldives_19.csv')
df5 = pd.read_csv('Myanmar_16.csv')
df6 = pd.read_csv('Sri-lanka_15.csv')
df7 = pd.read_csv('Thailand_15.csv')
df8 = pd.read_csv('Thailand_22.csv')
df9 = pd.read_csv('Timor_13.csv')
df10 = pd.read_csv('Timor_19.csv')

In [1]:
import pandas as pd

In [3]:
df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10], ignore_index=True)

In [4]:
df.shape

(35461, 30)

In [5]:
df.sample(10)

,q1,q2,q3,q4,q5,q6,q7,q8,q9,q10,...,q21,q22,q23,q24,q25,q26,Country,Year,Region,Income Group
18525,1.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,4.0,1.0,...,1.0,2.0,2.0,2.0,2.0,2.0,Myanmar,2016,South East Asia,Lower middle income
7820,4.0,1.0,1.0,1.0,1.0,1.0,4.0,1.0,6.0,1.0,...,1.0,3.0,2.0,1.0,2.0,2.0,Bhutan,2019,South East Asia,Lower middle income
4201,1.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,3.0,2.0,...,1.0,3.0,3.0,3.0,2.0,2.0,Bhutan,2013,South East Asia,Lower middle income
2838,1.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,3.0,2.0,...,1.0,1.0,1.0,3.0,2.0,2.0,Bangladesh,2013,South East Asia,Lower middle income
10375,1.0,2.0,1.0,2.0,2.0,1.0,4.0,4.0,5.0,1.0,...,NaN,NaN,NaN,1.0,2.0,2.0,Maldives,2019,South East Asia,Upper middle income
16656,1.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,4.0,1.0,...,1.0,2.0,2.0,3.0,2.0,2.0,Myanmar,2016,South East Asia,Lower middle income
13168,1.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,3.0,1.0,...,1.0,2.0,2.0,2.0,2.0,2.0,Maldives,2019,South East Asia,Upper middle income
14209,1.0,2.0,1.0,2.0,2.0,1.0,1.0,1.0,2.0,1.0,...,2.0,2.0,3.0,3.0,2.0,2.0,Maldives,2019,South East Asia,Upper middle income
2416,1.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,3.0,2.0,...,1.0,3.0,3.0,3.0,2.0,2.0,Bangladesh,2013,South East Asia,Lower middle income
3880,2.0,2.0,2.0,1.0,2.0,2.0,1.0,1.0,4.0,1.0,...,1.0,2.0,3.0,1.0,2.0,2.0,Bhutan,2013,South East Asia,Lower middle income

In [6]:
df.to_csv('South_East_Asia.csv', index=False)

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('South_East_Asia.csv')

In [4]:
data

,q1,q2,q3,q4,q5,q6,q7,q8,q9,q10,...,q21,q22,q23,q24,q25,q26,Country,Year,Region,Income Group
0,1.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,2.0,...,1.0,2.0,2.0,2.0,1.0,2.0,Bangladesh,2013,South East Asia,Lower middle income
1,1.0,2.0,NaN,2.0,2.0,NaN,NaN,1.0,3.0,2.0,...,1.0,2.0,2.0,2.0,1.0,2.0,Bangladesh,2013,South East Asia,Lower middle income
2,1.0,2.0,NaN,2.0,2.0,NaN,1.0,1.0,4.0,2.0,...,1.0,2.0,2.0,2.0,1.0,2.0,Bangladesh,2013,South East Asia,Lower middle income
3,1.0,2.0,NaN,2.0,2.0,NaN,1.0,1.0,4.0,2.0,...,1.0,2.0,2.0,2.0,1.0,2.0,Bangladesh,2013,South East Asia,Lower middle income
4,1.0,2.0,NaN,2.0,2.0,NaN,1.0,1.0,4.0,2.0,...,1.0,2.0,2.0,2.0,1.0,2.0,Bangladesh,2013,South East Asia,Lower middle income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35456,3.0,NaN,1.0,1.0,NaN,1.0,2.0,2.0,6.0,1.0,...,2.0,3.0,3.0,3.0,2.0,2.0,Timor-Leste,2019,South East Asia,Lower middle income
35457,NaN,2.0,2.0,NaN,1.0,2.0,1.0,1.0,7.0,1.0,...,2.0,1.0,1.0,1.0,1.0,2.0,Timor-Leste,2019,South East Asia,Lower middle income
35458,1.0,2.0,2.0,1.0,2.0,2.0,3.0,2.0,7.0,1.0,...,1.0,2.0,2.0,3.0,2.0,2.0,Timor-Leste,2019,South East Asia,Lower middle income
35459,6.0,2.0,2.0,1.0,1.0,2.0,1.0,1.0,7.0,1.0,...,1.0,2.0,2.0,3.0,2.0,2.0,Timor-Leste,2019,South East Asia,Lower middle income
35460,2.0,2.0,2.0,1.0,2.0,2.0,3.0,4.0,7.0,1.0,...,2.0,2.0,3.0,3.0,2.0,2.0,Timor-Leste,2019,South East Asia,Lower middle income

In [ ]:
data.drop(columns=[''], inplace=True)